body {
    margin: 0;
}
#home {
    background-image: url(../img/home.png);
    width: 1600px;
    height: 843px;
    position: relative;
    z-index: 999;
}
ul.header {
    margin: 0 310px;
    padding: 0;
}
li {
    display: inline-block;
    padding: 50px 10px 12px 0;
    text-align: center;
}
li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Signika', sans-serif;
}
li.brand{
    padding: 28px 150px 12px 16px;
}
li.brand a {
    margin-right: 339px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
}
#home .active {
    width: 74px;
    background-color: #3f9fc9;
}
#home .net {
    margin: 450px 500px 190px 633px;
    padding: 0;
}

/*#####################   ABOUT    ###############*/
#about {
    margin-top: -37px;
    background-image: url(../img/about.png);
    width: 1600px;
    height: 1036px;
    position: relative;
    z-index: 998;
}
#about .active {
    width: 74px;
    background-color: #E7645D;
}
div#about div.content, div#services div.content {
    margin: 80px auto 0 auto;
    width: 956px;
}
div#about div.content h1, div#services div.content h1 {
    color: #ECEDEF;
    font-family: 'Signika', sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}
div.content h1 span.serv {
    background-color: #2FAE96;
}
div.content h1 span.client {
    background-color: #7F4C75;
}
div#about div.content>p, div#services div.content>p {
    color: #fff;
    font-family: Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}
div#about div.content>p>span {
    color: #fd2614;
}
#about div.cards {
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    color: #ecedef;
    font-family: Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 18px;

}
#about div.card {
    padding-top: 26px;
    margin-right: 15px;
    display: inline-block;
    width: 214px;
    height: 310px;
    text-align: center;
    background-color: #E6655E;
    border: solid 3px #F4948B;
}
.job {
    font-size: 13px;
}
#about div.card>ul {
    padding: 0;
    list-style: none;
    border-top: solid 4px #2AAE96;
    padding-top: 26px;
}
#about div.card>ul>li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

/*#####################   SERVICES    ###############*/

div#services {
    margin-top: -37px;
    background-image: url(../img/Services.png);
    width: 1600px;
    height: 1077px;
    z-index: 997;
}
 #services .active {
     width: 74px;
     background-color: #4BDCC7;
 }
#services div.cards {
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 18px;

}
#services div.card {
    padding-top: 26px;
    margin-right: 15px;
    display: inline-block;
    width: 214px;
    height: 310px;
    text-align: center;
    background-color: #46DCC7;
    border: solid 3px #A5DBD1;
}
#services img {
    margin-bottom: 26px;
}
#services .service {
    padding-top: 19px;
    padding-right: 18px;
    padding-left: 19px;
    font-size: 13px;

}